<link rel="stylesheet" type="text/css" href="/stylesheets/chartistCustom.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="card">
    <div class="card-body">
        <h2 class="card-title"><%= cardTitle %></h2>
        <canvas id="<%- key %>" width="600" height="300"></canvas>
    </div>
</div>

<script>
    
    var dataSets = <%- JSON.stringify(dataSets) %>;
    var dataSetLabels = <%- JSON.stringify(dataSetLabels) %>;
    var graphColors = <%- JSON.stringify(colors) %>;
    var graphDataSets = [];

    for (var i = 0; i < dataSets.length; i++)
    {
        graphDataSets.push(
            {
                label: dataSetLabels[i],
                data: dataSets[i],
                backgroundColor: 'transparent',
                borderColor: graphColors[i],
                borderCapStyle: "round",
                borderJoinStyle: "round",
                pointBackgroundColor: graphColors[i],
                pointHoverRadius: 2,
                spanGaps: false,
                yAxisID: 'y-axis-1'
            }
        );
    }

    var ctx = document.getElementById("<%- key %>").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%- JSON.stringify(xAxisLabels) %>,
            datasets: graphDataSets
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    display: false
                }],
                yAxes: [{
                    type: 'linear',
                    ticks: {
                        beginAtZero:true
                    },
                    position: 'left',
                    id: 'y-axis-1'
                }]
            },
            tooltips: {
                mode: 'index',
                intersect: false
            }
        }
    });
    
    </script>