<% include partials/header %>

<script src="/tagify.min.js"></script>
<link rel="stylesheet" href="/stylesheets/tagify.css">
<div class="ui container center aligned main">

    <h2 class="ui inverted header"></h2>
    
    <div class="current-entry-container">
        <form action="/entries/<%= entry._id %>?_method=PUT" method="POST" class="ui form">
            <h4 class="ui left aligned header"><%= moment(entry.date).format("D MMM YYYY, h:mm a") %></h4>
            <div class="ui field">
                <textarea id="entrybox" rows="10" name="entry[body]" placeholder="Start writing" id="transparent" autofocus><%= entry.body %></textarea>
            </div>
            <div class="ui field">
                <div class="ui labeled input" id="tagbox">
                    <label class="ui label" id="tagbox"><i class="ui question circle outline link icon modal-btn-2"></i>Optional: Add tags</label>
                    <input type="text" name="tags" placeholder="Write some tags. '#' is not necessary" value="<%= tags %>" class="ui inverted" id="transparent">
                </div>
            </div>
            <a href="/entries/<%= entry._id %>" class="ui basic icon button" title="Back"><i class="ui arrow left icon"></i></a>
            <button type="submit" class="ui green button" title="Save!"><i class="ui check icon"></i>Done</button>
        </form>
    </div>
</div>

<script>
    var tagArr = <%- JSON.stringify(tags) %>;
    var input = document.querySelector("input[name=tags]");
    new Tagify(input, {
        delimiters          : ",| ",  // add new tags when a comma or a space character
        keepInvalidTags     : false,  // do not remove invalid tags (but keep them marked as invalid)
        whitelist: tagArr,
        dropdown : {
            enabled: 3,
            maxItems: 5
        }
    });

</script>

<% include partials/footer %>