<% include partials/header %>

<div class="ui inverted text container segment context" id="transparent">
    <div class="ui left dividing rail">
        <div class="ui right aligned container sticky theting">
            <h1 class="ui inverted header">Past Entries</h1>
            <form action="<%= "/entries/search" + (queriedTags.length > 0 ? "?tags=" + encodeURIComponent(queriedTags) : "") %>" method="POST">
                <div class="ui left labeled button">
                    <input class="ui basic label input" type="text" name="searchterm" placeholder="Search by phrase...">
                    <button class="ui icon button" action="submit"><i class="search icon"></i></button>
                </div>
            </form>
            <% if (keyword !== "") { %>
                <p class="mt-2">Filtering by phrase: "<%= keyword %>"</p>
            <% } %>
            <% if (queriedTags.length > 0) { %>
                <p class="mt-2">Filtering by tags:
                    <% queriedTags.forEach(function(tag) { %>
                        <span class="ui item label"><%= tag %></span>
                    <% }); %>
                </p>
            <% } %>

            <% if (keyword !== "" || queriedTags.length > 0) { %>
                <a href="/entries">clear search terms</a><br>
            <% } %>


            <h2>Tags</h2>
            <div class="ui list">
                <% tags.forEach(function(tag) { %>
                    <a class="item">
                        <a href="<%= "/entries?tags=" + (queriedTags.length > 0 ? encodeURIComponent(queriedTags) + "," : "") + encodeURIComponent(tag.name) + (keyword != "" ? "&keyword=" + keyword : "") %>"><%= tag.name %> (<%= tag.entryCount %>)</a>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>
    
    <div class="main">
        <div class="ui container">
            <a href="/entries/new" class="ui large primary button">Create new entry</a>
        </div>
        <div class="ui hidden divider"></div>
        <% if (entries.length === 0) { %>
            <p>No entries found.</p>
        <% } else { %>
            <% entries.forEach(function(entry) { %>
                <div class="ui inverted container">
                    <a href="/entries/<%= entry._id %>">
                        <div class="ui horizontal list">
                            <h4 class="ui inverted item header" class="date"><%= entry.date %></h4>
                            <!--moment(entry.date).format("D MMM YYYY, h:mm a") -->
                            <% entry.tags.forEach(function(tag) { %>
                                <h4 class="ui item label" id="tags">
                                    <%= tag %>
                                </h4>
                            <% }); %>
                        </div>
                        <p class="ui inverted entry-preview"><%= entry.body.substring(0,500) %></p>
                    </a>
                    <a href="/entries/<%= entry._id %>" class="ui basic inverted button" title="View"><i class="ui eye icon"></i>view</a>
                    <a href="/entries/<%= entry._id %>/edit" class="ui basic inverted button" title="Edit"><i class="ui edit icon"></i>edit</a>
                    <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST" class="inline">
                        <button action="submit" class="ui basic inverted button trash" title="Delete"><i class="ui trash icon"></i>delete</button>
                    </form>
                     <div class="ui hidden divider"></div>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>

<script>
    $('.ui.sticky')
      .sticky({
        context: '.context',
      });
</script>