<% include partials/header %>

<div class="container my-5">
    <div class="mb-5">
        <h4 class=""><%= moment(entry.dateCreated).format("D MMM YYYY, h:mm a") %></h4>
        <% entry.tags.forEach(function(tag) { %>
            <a class="badge badge-secondary p-1 mb-2" href="<%= "/entries?tags=" + encodeURIComponent(tag) %>">
                <%= tag %>
            </a>
        <% }); %>
        <p class="entry-body" id="entry-body"><%= entry.body.substring(0, 2000) + (entry.body.length > 2000 ? "..." : "") %></p>
        <% if (entry.body.length > 2000) { %>
            <a class="toggle-entry btn btn-secondary" role="button" onclick=expandEntry()>See more</a>
            <a class="toggle-entry btn btn-secondary d-none" role="button" onclick=collapseEntry()>See less</a>
        <% } %>
        <br>
        <a href="/entries" class="btn btn-primary mt-2"></i>Back to All Entries</a>
        <a href="/entries/<%= entry._id %>/edit" class="btn btn-outline-secondary mt-2" title="Edit">Edit Entry</a>
    </div>


    <h3 class="">Metadata</h3>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Detected Entities</h4>
                    <% if (entities.length > 0) { %>
                        <ul class="list-group list-group-flush">
                            <% var decimals = 1; %>
                            <% var entryEntities = entry.metadata.nluData.entities.sort((a, b) => { %>
                                <% if (a.name > b.name) {return 1;} %>
                                <% if (a.name < b.name) {return -1;} %>
                                <% return 0; %>
                                <% }); %>
                            <!-- Sort alphabetically -->
                            <% entities.sort((a, b) => { %>
                                <% if (a._id > b._id) {return 1;} %>
                                <% if (a._id < b._id) {return -1;} %>
                                <% return 0; %>
                                <% }).forEach(function(entity, index) { %>
                                <li class="list-group-item px-0">
                                    <div class="d-flex align-items-left" id="entity-<%= index %>">
                                        <a class="no-anchor-styles text-primary ml-2 stretched-link" data-toggle="collapse" href="#entity-<%= index %>" role="button" aria-expanded="false" aria-controls="extendedDescription">
                                            <h6 class="text-dark m-0 dropdown-arrow">v&nbsp;</h6>
                                        </a>
                                        <h6 class="m-0"><strong>"<%= entity._id %>"</strong></h6>
                                    </div>
                                    <div class="collapse mt-2" id="entity-<%= index %>">
                                        <ul class="list-group list-group-flush px-5">
                                            <li class="list-group-item px-0"><strong>Categories:</strong> <%= entity.categories %></li>
                                            <li class="list-group-item px-0"><strong>Entries mentioning:</strong> <%= entity.entriesMentioning %></li>
                                            <li class="list-group-item px-0"><strong>Total mentions:</strong> <%= entity.totalMentions %></li>
                                            <li class="list-group-item px-0"><strong>Sentiment rating:</strong> 
                                                <%= formatWithSign(entryEntities[index].sentiment.score.toFixed(decimals)) %> (Average: <%= formatWithSign(entity.sentimentScore.toFixed(decimals)) %>)
                                            </li>
                                            <li class="list-group-item px-0"><strong>Emotions:</strong></li>
                                            <ul class="list-group list-group-flush pl-5">
                                                    <li class="list-group-item px-0"><strong>Sadness:</strong> 
                                                        <%= entryEntities[index].emotion.sadness.toFixed(decimals) %> (Average: <%= entity.sadness.toFixed(decimals) %>)
                                                    </li>
                                                    <li class="list-group-item px-0"><strong>Joy:</strong> 
                                                        <%= entryEntities[index].emotion.joy.toFixed(decimals) %> (Average: <%= entity.joy.toFixed(decimals) %>)
                                                    </li>
                                                    <li class="list-group-item px-0"><strong>Fear:</strong> 
                                                        <%= entryEntities[index].emotion.fear.toFixed(decimals) %> (Average: <%= entity.fear.toFixed(decimals) %>)
                                                    </li>
                                                    <li class="list-group-item px-0"><strong>Disgust:</strong> 
                                                        <%= entryEntities[index].emotion.disgust.toFixed(decimals) %> (Average: <%= entity.disgust.toFixed(decimals) %>)
                                                    </li>
                                                    <li class="list-group-item px-0"><strong>Anger:</strong> 
                                                        <%= entryEntities[index].emotion.anger.toFixed(decimals) %> (Average: <%= entity.anger.toFixed(decimals) %>)
                                                    </li>
                                            </ul>
                                            <li class="list-group-item px-0"><strong>Confidence index:</strong> <%= entryEntities[index].confidence %></li>
                                            <li class="list-group-item px-0"><strong>Relevance index:</strong> <%= entryEntities[index].relevance %></li>
                                        </ul>
                                    </div>
                                </li>
                            <% }); %>
                          </ul>
                    <% } else { %>
                        <p>This entry isn't long enough to detect entities.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    function expandEntry()
    {
        $("#entry-body").html("<%= entry.body %>");
        $(".toggle-entry").toggleClass("d-none");
    }
    function collapseEntry()
    {
        $("#entry-body").html("<%= entry.body.substring(0, 2000) + (entry.body.length > 2000 ? '...' : '') %>");
        $(".toggle-entry").toggleClass("d-none");
    }

    $('.collapse').on('show.bs.collapse', function (e) {
        $(`#${e.target.id} .dropdown-arrow`).html("^&nbsp;");
    });

    $('.collapse').on('hide.bs.collapse', function (e) {
        $(`#${e.target.id} .dropdown-arrow`).html("v&nbsp;");
    });
</script>

<% include partials/footer %>