<% include partials/header %>

<div class="jumbotron homepage-wallpaper text-light">
    <div class="container my-5 text-center">
        <p class="typewriter">Quote of the day:</p>
        <p class="quote"><em>"<%= quote.body %>"</em></p>
        <% if (quote.author) { %>
                <div>
                    <strong>-<%= quote.author %></strong><% if (quote.source) { %>, <%= quote.source %><% } %>
                </div>
        <% } %>
    </div>
    <div class="container mb-5 text-center">
        <div class="mb-4">
            Current streak: <h2><%= currentUser.streak %></h2>    
        </div>
        <a href="/entries/new" class="btn btn-primary btn-lg my-3">Create new entry</a>
    </div>
</div>

<div class="container px-5 py-4 text-center">
    <h3>Your Stats</h3>
    <hr>
    <div class="row py-4">
        <div class="col">
            <h2><%= moment().diff(moment(currentUser.dateCreated), 'days') %></h2>
            Days since creation
        </div>
        <div class="col">
            <h2><%= entryCount %></h2>
            Entries
        </div>
        <div class="col">
            <h2><%= wordCount %></h2>
            Words
        </div>
    </div>
    <hr>
    <div class="row my-5">
        <div class="col-12 col-lg-6">
            <%- include('partials/entityGraphCard.ejs', {
                cardTitle: "Entities over time",
                uniqueKey: 0,
                dataSets: []
            }) %>
        </div>
    </div>
</div>

<% include partials/footer %>