<% include partials/header %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="jumbotron homepage-wallpaper text-light">
    <div class="container my-5 text-center">
        <p class="typewriter">Quote of the day:</p>
        <p class="quote"><em>"<%= quote.body %>"</em></p>
        <% if (quote.author) { %>
                <div>
                    <strong>-<%= quote.author %></strong><% if (quote.source) { %>, <%= quote.source %><% } %>
                </div>
        <% } %>
    </div>
    <div class="container mb-5 text-center">
        <div class="mb-4">
            Current streak: <h2><%= currentUser.streak %></h2>    
        </div>
        <a href="/entries/new" class="btn btn-primary btn-lg my-3">Create new entry</a>
    </div>
</div>

<div class="container px-2 px-md-5 py-4 text-center">
    <h3 class="pb-3">Your Stats</h3>
    <div class="row">
        <div class="col py-0">
            <form class="bg-white px-4 rounded shadow">
                <div class="form-group pt-3 row align-items-center my-1 justify-content-start">
                    <div class="col col-auto mb-3 text-left font-weight-bold">
                        <p class="mb-1 p-0">Add Graph:</p>
                    </div>
                    <div class="col mb-3">
                        <select class="custom-select" id="cardTypeSelector">
                            <option selected>Select a graph type...</option>
                            <option value="entities">Sentiment by entity over time</option>
                            <option value="concepts">Top concepts</option>
                            <option value="keywords">Three</option>
                            <option value="emotions">Emotions over time</option>
                        </select>
                    </div>
                    <div class="col col-auto ml-auto mb-3">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle pr-1"></i> Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body text-left">
                    <div class="p-3 d-flex align-items-center">
                        <h2 class="d-inline p-0 pr-2 m-0"><%= moment().diff(moment(currentUser.dateCreated), 'days') %></h2>
                        <span class="text-right ml-auto">
                            Days on AI Notebook
                        </span>
                    </div>
                    <div class="p-3 d-flex align-items-center">
                        <h2 class="d-inline p-0 pr-2 m-0"><%= wordCount %></h2>
                        <span class="text-right ml-auto">
                            Words
                        </span>
                    </div>
                    <div class="p-3 d-flex align-items-center">
                        <h2 class="d-inline p-0 pr-2 m-0"><%= entryCount %></h2>
                        <span class="text-right ml-auto">
                            Entries
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <%# if (entityNames && entityDataPoints) { %>
        <div class="col-12 col-lg-6 mb-3">
            <%- include('partials/entityGraphCard.ejs', {
                cardTitle: "Entities over time",
                uniqueKey: 0,
                entries: entityDataPoints,
                entityNames: entityNames
            }) %>
        </div>
        <%# } else { %>
            <!-- Lazy spacer element -->
            <!-- <div class="jumbotron bg-transparent"></div> -->
        <%# } %>
    </div>
</div>

<% include partials/footer %>