<% include partials/header %>

<div class="container my-md-5">
    <div class="row">
        <nav class="navbar navbar-dark bg-light d-md-none text-center sticky-top secondary-nav">
            <button class="btn btn-secondary mx-auto" id="filter-toggle-button" type="button" data-toggle="collapse" data-target="#filter-controls" aria-controls="filter-controls" aria-expanded="false" aria-label="Toggle search filters">
              Show Search Filters
            </button>
        </nav>
        <div class="col-12 col-md-3 collapse d-md-block p-0 pr-md-2 sticky-top bg-gray filter-controls rounded" id="filter-controls">
            <div class="p-2">
                <% if (keyword !== "" || queriedTags.length > 0 || entityKeyword !== "") { %>
                    <h2><%= entries.length %> Results</h2>
                <% } else { %>
                    <h2>All Entries</h2>
                <% } %>
                <form action="<%= "/entries/search" + (queriedTags.length > 0 ? "?tags=" + encodeURIComponent(queriedTags) : "") %>" method="POST">
                    <div class="input-group search-container">
                        <input class="form-control" autocomplete="off" id="filter-box" type="text" value="<%= keyword %>" name="searchterm" placeholder="Search by phrase..." aria-label="Search by phrase" aria-describedby="search-button">
                        <div class="search-dropdown rounded pb-1" id="entity-suggestions-container">
                            <h6 class="p-2 m-0"><i class="far fa-lightbulb mr-2"></i><strong>Smart suggestions:</strong></h6>
                            <hr class="m-0">
                            <div class="dropdown-list-container">
                                <!-- populated by jquery -->
                            </div>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary" action="submit" id="search-button">Search</button>
                        </div>
                    </div>
                </form>

                <% if (keyword !== "") { %>
                    <p class="my-2">Filtering by phrase: "<%= keyword %>"</p>
                    <a class="mb-1 text-primary" href="<%= "/entries?tags=" + encodeURIComponent(queriedTags) + "&entity=" + entityKeyword %>">Clear keyword</a><br>
                <% } %>

                <% if (entityKeyword !== "") { %>
                    <p class="my-2">Filtering by subject: "<%= entityKeyword %>"</p>
                    <a class="mb-1 text-primary" href="<%= "/entries?tags=" + encodeURIComponent(queriedTags) + "&keyword=" + keyword %>">Clear entity filter</a><br>
                <% } %>

                <% if (queriedTags.length > 0) { %>
                    <p class="my-2">Filtering by tags:
                        <% queriedTags.forEach(function(tag) { %>
                            <a class="badge badge-secondary p-1" href="<%= "/entries?tags=" + encodeURIComponent(queriedTags.filter(qTag => qTag != tag)) + "&keyword=" + keyword %>">
                                <%= tag %>
                                <span aria-hidden="true">&times;</span>
                            </a>
                        <% }); %>
                    </p>
                <% } %>

                <% if (keyword !== "" || queriedTags.length > 0 || entityKeyword !== "") { %>
                    <a class="mb-1 text-primary" href="/entries">Clear all search terms</a><br>
                <% } %>


                <h2 class="mt-5">Tags</h2>
                <% tags.forEach(function(tag) { %>
                    <a class="badge badge-secondary p-1 my-1 mr-1" href="<%= "/entries?tags=" + (queriedTags.length > 0 ? encodeURIComponent(queriedTags) + "," : "") + encodeURIComponent(tag.name) + "&keyword=" + keyword %>"><%= tag.name %> (<%= tag.entryCount %>)</a>
                <% }) %>
                <br>
                <a href="/entries/new" class="mt-5 btn btn-primary d-block mx-auto">Create new entry</a>
            </div>
        </div>
        
        <div class="col-12 col-md-9 my-5 my-md-0">
            <!-- Control bar above entry feed -->
            <div class="w-100 bg-secondary">
                <div class="float-right">
                    <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="entrySummarySwitch">
                            <label class="custom-control-label" for="entrySummarySwitch">Show keyword summary</label>
                    </div>
                </div>
            </div>
            <% if (entries.length === 0) { %>
                <p>No entries found.</p>
            <% } else { %>
                <% entries.forEach(function(entry) { %>
                    <div class="mb-5">
                        <a href="/entries/<%= entry._id %>" class="no-anchor-styles">
                            <% const date = new Date(entry.dateCreated) %>
                            <% var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
                            <p class="mb-1"><%= `${months[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}` %></p>
                            <% entry.tags.forEach(function(tag) { %>
                                <span class="badge badge-secondary p-1 mr-1 my-0"><%= tag %></span>
                            <% }) %>
                            <p class="py-2 m-0"><%= entry.body.substring(0,500) %>...</p>
                        </a>
                        <a href="/entries/<%= entry._id %>" class="btn btn-outline-secondary" title="View">View</a>
                        <a href="/entries/<%= entry._id %>/edit" class="btn btn-outline-secondary" title="Edit">Edit</a>
                        <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this entry?');">
                            <button action="submit" class="btn btn-outline-danger" title="Delete">Delete</button>
                        </form>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</div>

<script>
    $('#filter-controls').on('show.bs.collapse', function() {
        $('#filter-toggle-button').html("Hide Search Filters");
    });

    $('#filter-controls').on('hide.bs.collapse', function() {
        $('#filter-toggle-button').html("Show Search Filters");
    });
</script>

<script>

    var entities = <%- JSON.stringify(allEntities) %>; // get list data from EJS

    // performs a case-insensitive search on list names and populates the container element with the results
    function populateListMatches(searchTerm) {
        // get matching list names, case insensitive, excluding current search term, if any
        var filteredEntities = entities.filter(function(entity) {
            return entity._id.toLowerCase().includes(searchTerm.toLowerCase()) && entity._id.toLowerCase() !== "<%= entityKeyword %>".toLowerCase();
        }).slice(0, 6);

        console.log(filteredEntities);

        // clear the container element
        $("#entity-suggestions-container .dropdown-list-container").empty();

        if (filteredEntities.length > 0) {
            // populate container with filtered lists
            filteredEntities.forEach(function(entity) {
                $("#entity-suggestions-container .dropdown-list-container").append(`
                    <a class="px-2 py-1 no-anchor-styles" href="<%= "/entries?tags=" + encodeURIComponent(queriedTags) + "&keyword=" + keyword + "&entity=" %>${entity._id}">
                        ${entity._id}
                    </a>
                `);
            });            
        }
        else {
            $("#entity-suggestions-container .dropdown-list-container").append(`
                <a class="px-2 py-1 no-anchor-styles"><em>No suggestions found</em></a>
            `);
        }
    }

    // axios.defaults.headers.post['Content-Type'] = 'application/json';

    $(document).ready(function() {

        // populate the switch with the value received on page load
        $('#entrySummarySwitch').prop('checked', <%= showEntrySummaries ?? false %>);
        
        $('#entrySummarySwitch').change(function() {
            console.log("Toggle value was changed");

            // request to change the user's setting based on the value of the checkbox
            axios.post("/api/userSettings/showSummaries", {
                "showEntrySummaries": this.checked,
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
        }); 

        $("#filter-box").val(""); // clear the box

        $("#filter-box").on('input focus', function(e) {
            if ($("#filter-box").val() == "") {
                $('#entity-suggestions-container').hide();
            } else {
                populateListMatches($("#filter-box").val());
                $("#entity-suggestions-container").show();
                $(document).bind('mousedown', function(e2) {
                    if (! $(e2.target).closest('.search-container').length) {
                        $("#entity-suggestions-container").hide();
                        $(document).unbind('mousedown', arguments.callee);
                    }
                })
            }
        });
    });
</script>

<% include partials/footer %>