<% include partials/header %>

<div class="container my-5">
    <div class="mb-5">
        <h4 class=""><%= moment(entry.dateCreated).format("D MMM YYYY, h:mm a") %></h4>
        <% entry.tags.forEach(function(tag) { %>
            <a class="badge badge-secondary p-1 mb-2" href="<%= "/entries?tags=" + encodeURIComponent(tag) %>">
                <%= tag %>
            </a>
        <% }); %>
        <p class="entry-body" id="entry-body">
            <%= entry.body.substring(0, 2000) + (entry.body.length > 2000 ? "..." : "") %>
        </p>
        <div class="mt-2">
            <% if (entry.body.length > 2000) { %>
                <a class="toggle-entry btn btn-secondary" role="button" onclick=expandEntry()>Show more</a>
                <a class="toggle-entry btn btn-secondary d-none" role="button" onclick=collapseEntry()>Show less</a>
            <% } %>
            <a href="/entries/<%= entry._id %>/edit" class="btn btn-outline-secondary" title="Edit">Edit Entry</a>
            <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this entry?');">
                <button action="submit" class="btn btn-outline-danger" title="Delete">Delete</button>
            </form>
        </div>
        <a href="/entries" class="d-block py-2 mt-2 px-1"><i class="fas fa-angle-left pr-2"></i>Back to All Entries</a>
    </div>


    <h3>Metadata</h3>
    <% var decimals = 1; %>
    <hr class="pb-3">
    <div class="row mb-5 pb-5">
        <div class="col-12 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h4 class="card-title">Sentiment & Emotion</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-0"><strong>Overall Sentiment Score:</strong> 
                            <%= entry.metadata.nluData.sentiment.score.toFixed(decimals) %>
                            (Label: "<%= entry.metadata.nluData.sentiment.label %>")
                        </li>
                        <li class="list-group-item px-0"><strong>Emotions:</strong></li>
                        <ul class="list-group list-group-flush pl-5">
                            <li class="list-group-item px-0"><strong>Sadness:</strong> 
                                <%= entry.metadata.nluData.emotion.sadness.toFixed(decimals) %>
                            </li>
                            <li class="list-group-item px-0"><strong>Joy:</strong> 
                                <%= entry.metadata.nluData.emotion.joy.toFixed(decimals) %>
                            </li>
                            <li class="list-group-item px-0"><strong>Fear:</strong> 
                                <%= entry.metadata.nluData.emotion.fear.toFixed(decimals) %>
                            </li>
                            <li class="list-group-item px-0"><strong>Disgust:</strong> 
                                <%= entry.metadata.nluData.emotion.disgust.toFixed(decimals) %>
                            </li>
                            <li class="list-group-item px-0"><strong>Anger:</strong> 
                                <%= entry.metadata.nluData.emotion.anger.toFixed(decimals) %>
                            </li>                            
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body pb-0">
                    <h4 class="card-title">Detected Entities</h4>
                    <% if (entities.length > 0) { %>
                        <ul class="list-group list-group-flush">
                            <% var entryEntities = entry.metadata.nluData.entities.sort((a, b) => { %>
                                <% if (a.name > b.name) {return 1;} %>
                                <% if (a.name < b.name) {return -1;} %>
                                <% return 0; %>
                                <% }); %>
                            <!-- Sort alphabetically -->
                            <% entities.sort((a, b) => { %>
                                <% if (a._id > b._id) {return 1;} %>
                                <% if (a._id < b._id) {return -1;} %>
                                <% return 0; %>
                            <% }).forEach(function(entity, index) { %>
                                <li class="list-group-item p-0">
                                    <div class="d-flex align-items-left" id="entity-<%= index %>">
                                        <a class="d-block py-3 no-anchor-styles text-primary ml-2 w-100" data-toggle="collapse" href="#entity-<%= index %>" role="button" aria-expanded="false" aria-controls="extendedDescription">
                                            <h6 class="d-inline text-dark m-0 dropdown-arrow"><i class="fas fa-angle-down mr-1"></i></h6>
                                            <h6 class="d-inline m-0"><strong>"<%= entity._id %>"</strong></h6>
                                        </a>
                                    </div>
                                    <div class="collapse mt-2" id="entity-<%= index %>">
                                        <ul class="list-group list-group-flush px-5">
                                            <li class="list-group-item px-0"><strong>Categories:</strong> <%= entity.categories %></li>
                                            <li class="list-group-item px-0"><strong>Entries mentioning:</strong> <%= entity.entriesMentioning %></li>
                                            <li class="list-group-item px-0"><strong>Total mentions:</strong> <%= entity.totalMentions %></li>
                                            <li class="list-group-item px-0"><strong>Sentiment rating:</strong> 
                                                <%= formatWithSign(entryEntities[index].sentiment.score.toFixed(decimals)) %> (Average: <%= formatWithSign(entity.sentimentScore.toFixed(decimals)) %>)
                                            </li>
                                            <li class="list-group-item px-0"><strong>Emotions:</strong></li>
                                            <ul class="list-group list-group-flush pl-5">
                                                    <li class="list-group-item px-0"><strong>Sadness:</strong> 
                                                        <%= entryEntities[index].emotion.sadness.toFixed(decimals) %> (Average: <%= entity.sadness.toFixed(decimals) %>)
                                                    </li>
                                                    <li class="list-group-item px-0"><strong>Joy:</strong> 
                                                        <%= entryEntities[index].emotion.joy.toFixed(decimals) %> (Average: <%= entity.joy.toFixed(decimals) %>)
                                                    </li>
                                                    <li class="list-group-item px-0"><strong>Fear:</strong> 
                                                        <%= entryEntities[index].emotion.fear.toFixed(decimals) %> (Average: <%= entity.fear.toFixed(decimals) %>)
                                                    </li>
                                                    <li class="list-group-item px-0"><strong>Disgust:</strong> 
                                                        <%= entryEntities[index].emotion.disgust.toFixed(decimals) %> (Average: <%= entity.disgust.toFixed(decimals) %>)
                                                    </li>
                                                    <li class="list-group-item px-0"><strong>Anger:</strong> 
                                                        <%= entryEntities[index].emotion.anger.toFixed(decimals) %> (Average: <%= entity.anger.toFixed(decimals) %>)
                                                    </li>
                                            </ul>
                                            <li class="list-group-item px-0"><strong>Confidence index:</strong> <%= entryEntities[index].confidence %></li>
                                            <li class="list-group-item px-0"><strong>Relevance index:</strong> <%= entryEntities[index].relevance %></li>
                                            <li class="list-group-item px-0"><strong>Text locations:</strong> <%= JSON.stringify(entryEntities[index].locations) %></li>
                                            <li class="list-group-item px-0"><strong>Location 1 context:</strong><%= entry.body.substring(entryEntities[index]?.locations[0].location[0] - 10, entryEntities[index]?.locations[0].location[1] + 10) %></li>
                                        </ul>
                                    </div>
                                </li>
                            <% }); %>
                          </ul>
                    <% } else { %>
                        <p><em>No entities to show.</em></p>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body pb-0">
                    <h4 class="card-title">Concepts</h4>
                    <ul class="list-group list-group-flush">
                        <% var concepts = entry.metadata.nluData.concepts.sort((a, b) => { %>
                            <% if (a.text > b.text) {return 1;} %>
                            <% if (a.text < b.text) {return -1;} %>
                            <% return 0; %>
                        <% }); %>
                        <% if (concepts.length > 0) { %>
                            <% concepts.forEach(function(concept, index) { %>
                                <li class="list-group-item p-0">
                                    <div class="d-flex align-items-left" id="entity-<%= index %>">
                                        <a class="d-block py-3 no-anchor-styles text-primary ml-2 w-100" data-toggle="collapse" href="#concept-<%= index %>" role="button" aria-expanded="false" aria-controls="extendedDescription">
                                            <h6 class="d-inline text-dark m-0 dropdown-arrow"><i class="fas fa-angle-down mr-1"></i></h6>
                                            <h6 class="d-inline m-0"><strong>"<%= concept.text %>"</strong></h6>
                                        </a>
                                    </div>
                                    <div class="collapse mt-2" id="concept-<%= index %>">
                                        <ul class="list-group list-group-flush px-5">
                                            <li class="list-group-item px-0"><strong>Info URL:</strong> <a href="<%= concept.infoURL %>"><%= concept.infoURL %></a></li>
                                            <li class="list-group-item px-0"><strong>Relevance index:</strong> <%= concept.relevance %></li>
                                        </ul>
                                    </div>
                                </li>
                            <% }); %>
                        <% } else { %>
                            <p class="pb-2 pt-1"><em>No concepts to show.</em></p>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body pb-0">
                    <h4 class="card-title">Keywords</h4>
                    <ul class="list-group list-group-flush">
                        <% var keywords = entry.metadata.nluData.keywords.sort((a, b) => { %>
                            <% if (a.text > b.text) {return 1;} %>
                            <% if (a.text < b.text) {return -1;} %>
                            <% return 0; %>
                        <% }); %>
                        <% if (keywords.length > 0) { %>
                            <% keywords.forEach(function(keyword, index) { %>
                                <li class="list-group-item p-0">
                                    <div class="d-flex align-items-left" id="keyword-<%= index %>">
                                        <a class="d-block py-3 no-anchor-styles text-primary ml-2 w-100" data-toggle="collapse" href="#keyword-<%= index %>" role="button" aria-expanded="false" aria-controls="extendedDescription">
                                            <h6 class="d-inline text-dark m-0 dropdown-arrow"><i class="fas fa-angle-down mr-1"></i></h6>
                                            <h6 class="d-inline m-0"><strong>"<%= keyword.text %>"</strong></h6>
                                        </a>
                                    </div>
                                    <div class="collapse mt-2" id="keyword-<%= index %>">
                                        <ul class="list-group list-group-flush px-5">
                                            <li class="list-group-item px-0"><strong>Count:</strong><%= keyword.count %></li>
                                            <li class="list-group-item px-0"><strong>Locations:</strong><%= keyword.locations %></li>
                                            <li class="list-group-item px-0"><strong>Location 1 context:</strong><%= entry.body.substring(keyword.locations[0] - 10, keyword.locations[0] + keyword.text.length + 10) %></li>
                                            <li class="list-group-item px-0"><strong>Relevance index:</strong> <%= keyword.relevance %></li>
                                        </ul>
                                    </div>
                                </li>
                            <% }); %>
                        <% } else { %>
                            <p><em>No keywords to show.</em></p>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    console.log(`<%- JSON.stringify(entry) %>`)
    function expandEntry()
    {
        $("#entry-body").html(`<%= entry.body %>`);
        $(".toggle-entry").toggleClass("d-none");
    }
    function collapseEntry()
    {
        $("#entry-body").html(`<%= entry.body.substring(0, 2000) + (entry.body.length > 2000 ? '...' : '') %>`);
        $(".toggle-entry").toggleClass("d-none");
    }

    $('.collapse').on('show.bs.collapse', function (e) {
        $(`#${e.target.id} .dropdown-arrow`).html(`<i class="fas fa-angle-up mr-1"></i>`);
    });

    $('.collapse').on('hide.bs.collapse', function (e) {
        $(`#${e.target.id} .dropdown-arrow`).html(`<i class="fas fa-angle-down mr-1"></i>`);
    });
</script>

<% include partials/footer %>